{% load static %}
<!DOCTYPE html>
<html lang="">

<!-- Head -->
<head>
    <title>صفحه شخصی پوریا توانا</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Hitech Info a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Meta-Tags -->

    <!-- Custom-Stylesheet-Links -->

    <!-- Bootstrap-CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!-- Gallery-Popup-CSS -->
    <link rel="stylesheet" href="{% static 'css/chocolat.css' %}" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->

    <!-- Web-Fonts -->

    <!-- Body-Font -->
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' type='text/css'>
    <!-- //Web-Fonts -->
</head>
<!-- //Head -->

<!-- Body -->
<body>
<!-- Header -->
<div class="header" id="home">

    <div class="slider-info">
        <div class="logo">
            <a href="{% url 'blog:index' %}">HITECH</a>
        </div>

        <div class="side">
            <nav class="dr-menu">
                <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span></div>
                <ul>
                    <li><a class="scroll dr-icon dr-icon-user" href="#about">درباره من</a></li>
                    <li><a class="scroll dr-icon dr-icon-camera" href="#services">خدمات</a></li>
                    <li><a class="scroll dr-icon dr-icon-bullhorn" href="#pricing">قیمت گذاری</a></li>

                    <li><a class="scroll dr-icon dr-icon-heart" href="#team">تیم من</a></li>
                    <li><a class="scroll dr-icon dr-icon-download" href="#projects">پروژه ها</a></li>
                    <li><a class="scroll dr-icon dr-icon-settings" href="#testimonial">گواهی نامه</a></li>
                    <li><a class="scroll dr-icon dr-icon-switch" href="#newsletter">تماس با من</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="slider">
        <!-- Slider1 -->
        <div class="slider-1">
            <ul class="rslides" id="slider1">
                <li>
                    <img src="{% static 'images/slide-1.jpg' %}" alt="Hitech Info">
                </li>
                <li>
                    <img src="{% static 'images/slide-2.jpg' %}" alt="Hitech Info">
                </li>
                <li>
                    <img src="{% static 'images/slide-3.jpg' %}" alt="Hitech Info">
                </li>
                <li>
                    <img src="{% static 'images/slide-4.jpg' %}" alt="Hitech Info">
                </li>
                <li>
                    <img src="{% static 'images/slide-5.jpg' %}" alt="Hitech Info">
                </li>
            </ul>
        </div>
        <!-- //Slider1 -->
    </div>
    <div class="clearfix"></div>

</div>
<!-- //Header -->

<!-- About -->
<div class="about" id="about">
    <div class="container">

        <h1>درباره من</h1>
        <div class="heading-underline">
            <div class="h-u1"></div>
            <div class="h-u2"></div>
            <div class="h-u3"></div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-6 col-sm-6 about-details">
            <div class="about-image">
                <img src="{% static 'images/mac.png' %}" alt="Hitech Info">
            </div>
            <div class="about-info">
                <p>
                    علاقه و تخصص من بیشتر برنامه نویسی هست و سعی می‌کنم حداقل توی تخصص خودم به
                    روز
                    باشم.<br/><br>
                    به طور حرفه ای در دو زمینه اندروید(اندروید استودیو/جاوا و کیوت/سی پلاس پلاس)
                    و
                    بک اند(جنگو/پایتون) فعالیت دارم.<br/><br>
                    برنامه نویسی را از بعد از ورود به دانشگاه شروع کردم و الان دانشجوی ترم پنجم
                    دانشگاه صنعتی ام و دوسالی هست که دراین زمینه فعالیت دارم.<br/><br>
                    زبان های تحت کاربر درحدی که کارم راه بیفته بلدم.<br/><br>
                    شش ماهی هست پایتون کار میکنم و دو ماهی میشه که سمت سرور با فریمورک جنگو
                    کارمیکنم.<br/><br>
                    سی و سی پلاس پلاس از ترم اول دانشگاه شروع کردم و دوسالی میشه دارم باهاش کار
                    میکنم و چندماهی هم هست برنامه نویسی دسکتاپ و اندروید با فریمورک کیوت انجام
                    میدم.<br/><br>
                    جاوا از ترم دوم دانشگاه شروع کردم و ی سال بیشتره که باهاش کارمیکنم و چندماهی
                    میشه
                    دارم اندرویداستودیو کار میکنم.<br/><br>
                    با <b> گیت</b> و <b> گیت هاب</b> و <b>گیت لب</b> زیاد سروکار دارم.<br/><br>
                    با <b>پی اچ پی</b> آشنا هستم و چندماهی با سی ام اس <b>وردپرس</b> سایت طراحی
                    می
                    کردم.<br/><br>
                    تا حدی با<b>داکر</b> و <b> داکرهابم</b> آشنایی دارم.<br/><br>
                    البته درزمینه شبکه و امنیت هم دستی درکار دارم<br/>
                    به خصوص در دو زمینه:<br/>
                    Penetration Testing & Ethical Hacking<br/><br>
                    ناگفته نمونه که درحال مطالعه و تحقیق در زمینه الگوریتم ها و هوش مصنوعی هم
                    هستم.<br/>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Skills -->
        <div class="col-md-6 col-sm-6 skills">

            <div id="about-us" class="parallax">
                <h2>مهارت های من</h2>

                <div class="heading-underline">
                    <div class="h-u1"></div>
                    <div class="h-u2"></div>
                    <div class="h-u3"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    {% for skill in my_skills %}
                        <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <p class="lead">{{ skill.name }}</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"
                                     aria-valuetransitiongoal="{{ skill.percentage }}">{{ skill.percentage }}%
                                </div>
                            </div>
                        </div>
                    {% endfor my_skills %}
                </div>

                <!-- Tooltip -->
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">مشاهده<span
                        class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                <div class="tooltip-content">
                    <div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">توسعه دهنده اندروید و سمت سرور</h4>

                                </div>
                                <div class="modal-body">
                                    <img src="{% static 'images/about.jpg' %}" alt="Hitech Info">
                                    <p>جاوا(اندروید استودیو) و سی پلاس پلاس(کیوت) _ پایتون(جنگو)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#myModal').modal('');
                    </script>
                </div>
                <!-- //Tooltip -->
            </div>
        </div>
        <!-- //Skills -->
        <div class="clearfix"></div>
    </div>
</div>


<!-- Services -->
<div class="services" id="services">
    <div class="container">

        <h3>خدمات</h3>
        <div class="heading-underline">
            <div class="h-u1"></div>
            <div class="h-u2"></div>
            <div class="h-u3"></div>
            <div class="clearfix"></div>
        </div>

        <div class="service-grids">
            {% for service in my_services %}
                <div class="col-md-4 col-sm-4 service-grid service-grid-1">
                    <img src="{{ service.img.url }}" alt="Hitech Info">
                    <h4>{{ service.title }}</h4>
                    <p>{{ service.description|safe }}</p>
                </div>
            {% endfor my_services %}
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- //Services -->

<!-- Pricing -->
<div class="pricing" id="pricing">
    <div class="container">

        <h3>قیمت گذاری</h3>
        <div class="heading-underline">
            <div class="h-u1"></div>
            <div class="h-u2"></div>
            <div class="h-u3"></div>
            <div class="clearfix"></div>
        </div>

        <div class="pricing-grids">
            {% for pric in my_prices %}
                <div class="grid1">
                    <span>${{ pric.price }}/<small>ماه</small></span>
                    <h4>{{ pric.title }}</h4>
                    <ul class="para">
                        <li>{{ pric.description_1 }}</li>
                        <li>{{ pric.description_2 }}</li>
                        <li>{{ pric.description_3 }}</li>
                        <li>{{ pric.description_4 }}</li>
                    </ul>
                    <div class="sign text-center">
                        <a class="popup-with-zoom-anim" href="#small-dialog">خرید</a>
                    </div>
                </div>
            {% endfor my_prices %}
            <div class="clearfix"></div>

            <!-- Popup-Box -->
            <div id="popup">
                <div id="small-dialog" class="mfp-hide">
                    <div class="pop_up">
                        <div class="payment-online-form-right">
                            <form action="" method="post">
                                {% csrf_token %}
                                <h4><span class="shipping"> </span>اطلاعات مشتری</h4>
                                <ul>
                                    <li>
                                        {#                                            <input class="text-box-dark" type="text" value="نام" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">#}
                                        {{ order_form.f_name }}
                                    </li>
                                    <li>
                                        {#                                            <input class="text-box-dark" type="text" value="نام خانودگی" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">#}
                                        {{ order_form.l_name }}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        {#                                            <input class="text-box-dark" type="text" value="ایمیل" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">#}
                                        {{ order_form.email }}
                                    </li>
                                    <li>
                                        {#                                            <input class="text-box-dark" type="text" value="تلفن" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">#}
                                        {{ order_form.phone_number }}
                                    </li>
                                </ul>
                                <div class="clear"></div>
                                <h4 class="paymenthead"><span class="payment"></span>جزئیات پرداخت</h4>

                                <div class="clear"></div>
                                <ul class="payment-type">
                                    <li><span class="col_checkbox">
												<input id="3" class="css-checkbox1" type="checkbox">
												<label for="3" class="css-label1"></label>
												<a class="visa" href="#"></a>
											</span>
                                    </li>
                                    <li>
											<span class="col_checkbox">
												<input id="4" class="css-checkbox2" type="checkbox">
												<label for="4" class="css-label2"></label>
												<a class="paypal" href="#"></a>
											</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        {#                                            <input class="text-box-dark" type="text" value="شماره کارت" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}">#}
                                        {{ order_form.cart_number }}
                                    </li>
                                    <li>
                                        {#                                            <input class="text-box-dark" type="text" value="نام روی کارت" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name on card';}">#}
                                        {{ order_form.cart_name }}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        {#                                            <input class="text-box-light hasDatepicker" type="text" id="datepicker" value="تاریخ انقضا" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Expiration Date';}">#}
                                        {{ order_form.expired_date }}
                                        <em class="pay-date"> </em>
                                    </li>
                                    <li>
                                        {#                                            <input class="text-box-dark" type="text" value="کد امنیتی" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Security Code';}">#}
                                        {{ order_form.password }}
                                    </li>
                                </ul>
                                <ul class="payment-sendbtns">
                                    <li><input type="reset" value="تنظیم مجدد"></li>
                                    <li><input type="submit" value="سفارش" class="order"></li>
                                </ul>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
            <!-- //Popup-Box -->

        </div>
    </div>
</div>
<!-- //Pricing -->

<!-- Team -->
<div class="team" id="team">
    <div class="container">

        <h3>تیم ما</h3>
        <div class="heading-underline">
            <div class="h-u1"></div>
            <div class="h-u2"></div>
            <div class="h-u3"></div>
            <div class="clearfix"></div>
        </div>
        <p class="team-p"></p>

        <div class="team-grids">
            <div class="ch-grid">
                {% for member in my_teams %}
                    <div class="col-md-3 col-sm-3 team-grid team-grid1">
                        <div class="ch-item ch-img-1">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front" style="background-image:url('{{ member.avatar.url }}')"></div>
                                    <div class="ch-info-back">
                                        <h4>{{ member.first_name }} {{ member.last_name }}</h4>
                                        <p>{{ member.profession }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor my_teams %}
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
<!-- //Team -->

<!-- Projects -->
<div class="projects" id="projects">

    <h3>آخرین پروژه های ما</h3>
    <div class="heading-underline">
        <div class="h-u1"></div>
        <div class="h-u2"></div>
        <div class="h-u3"></div>
        <div class="clearfix"></div>
    </div>

    <div class="gallery-items">
        {% for project in my_projects %}
            <div class="col-md-2 col-sm-2 gallery-item gallery-item-1">
                <a class="example-image-link" href="{{ project.url }}" data-lightbox="example-set" data-title="">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="{{ project.img.url }}" style="width: 300px;height: 300px" alt="Hitech Info">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                </a>
            </div>
        {% endfor my_projects %}
        <div class="clearfix"></div>
    </div>
</div>
<!-- //Projects -->

<!-- Testimonial -->
<div class="testimonial" id="testimonial">
    <div class="container">

        <h3>گواهی</h3>
        <div class="heading-underline">
            <div class="h-u1"></div>
            <div class="h-u2"></div>
            <div class="h-u3"></div>
            <div class="clearfix"></div>
        </div>

        <!-- Slider2 -->
        <div class="slider2">
            <ul class="rslides" id="slider2">
                <li>
                    <p>گواهی نامه اندروید از دانشگاه صنعتی شریف</p>
                    <p>گواهی نامه جاوا از سولولرن</p>
                    <p>گواهی نامه پایتون از سولولرن</p>
                    <p>گواهی نامه سی پلاس پلاس از سولولرن</p>
                    <h4>پوریا توانا</h4>
                </li>
                <li>
                    <p>گواهی نامه اندروید از دانشگاه صنعتی شریف</p>
                    <p>گواهی نامه جاوا از سولولرن</p>
                    <p>گواهی نامه پایتون از سولولرن</p>
                    <p>گواهی نامه سی پلاس پلاس از سولولرن</p>
                    <h4>پوریا توانا</h4>
                </li>
                <li>
                    <p>گواهی نامه اندروید از دانشگاه صنعتی شریف</p>
                    <p>گواهی نامه جاوا از سولولرن</p>
                    <p>گواهی نامه پایتون از سولولرن</p>
                    <p>گواهی نامه سی پلاس پلاس از سولولرن</p>
                    <h4>پوریا توانا</h4>
                </li>
                <li>
                    <p>گواهی نامه اندروید از دانشگاه صنعتی شریف</p>
                    <p>گواهی نامه جاوا از سولولرن</p>
                    <p>گواهی نامه پایتون از سولولرن</p>
                    <p>گواهی نامه سی پلاس پلاس از سولولرن</p>
                    <h4>پوریا توانا</h4>
                </li>
                <li>
                    <p>گواهی نامه اندروید از دانشگاه صنعتی شریف</p>
                    <p>گواهی نامه جاوا از سولولرن</p>
                    <p>گواهی نامه پایتون از سولولرن</p>
                    <p>گواهی نامه سی پلاس پلاس از سولولرن</p>
                    <h4>پوریا توانا</h4>
                </li>
            </ul>
        </div>
        <!-- //Slider2 -->
    </div>
</div>
<!-- //Testimonial -->

<!-- Hitech Infosletter -->
<div class="newsletter" id="newsletter">
    <div class="container">
        <div class="new-grids">
            <div class="col-md-6 col-sm-6 subscribe">
                <p>مشترک شدن در خبرنامه ما</p>
            </div>
            <div class="col-md-6 col-sm-6 email-form">
                <form action="{% url 'blog:index' %}" method="post">
                    {% csrf_token %}
                    {{ form.email }}
                    <input type="submit" class="submit" value="ارسال">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //Hitech Infosletter -->

<!-- Follow -->
<div class="follow">
    <div class="container">
        <!-- Slider3 -->
        <div class="slider3">
            <ul class="rslides" id="slider3">
                {% for follow in my_follows %}
                    <li>
                        <img src="{{ follow.img.url }}" alt="Hitech Info">
                        <p>دانشجوی ترم پنجم رشته مهندسی کامپوتر داشنگاه صنعتی </p>
                        <a href="#"></a>
                    </li>
                {% endfor my_follows %}
            </ul>
        </div>
        <!-- //Slider3 -->
    </div>
</div>
<!-- //Follow -->

<!-- Social -->
<div class="social">
    <p>مارا دنبال کنید</p>
    <!-- Social-Icons -->
    <ul class="social-icons">
        <li><a href="https://m.facebook.com/pooria.tavana" class="facebook" title="Go to Our Facebook Page"></a></li>
        <li><a href="https://twitter.com/Pooria9731?s=09" class="twitter" title="Go to Our Twitter Account"></a></li>
        <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
        <li><a href="https://www.instagram.com/pooria_19_99/" class="instagram" title="Go to Our Instagram Account"></a></li>
        <li><a href="#" class="youtube" title="Go to Our Youtube Channel"></a></li>
    </ul>
    <!-- //Social-Icons -->

</div>
<!-- //Social -->

<!-- Copyleft -->
<div class="copyleft">
    <p>کلیه حقوق مادی و معنوی محفوظ می باشد </p>
</div>
<!-- //Copyleft -->

<!-- Custom-JavaScript-File-Links -->

<!-- Supportive-JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- Necessary-JS-File-For-Bootstrap -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Slider-JavaScript -->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
    $(function () {
        $("#slider1, #slider2, #slider3").responsiveSlides({
            auto: true,
            nav: true,
            speed: 1500,
            namespace: "callbacks",
            pager: true,
        });
    });
</script>
<!-- //Slider-JavaScript -->
<!-- Sliding-Menu-JavaScript -->
<script src="{% static 'js/ytmenu.js' %}"></script>
<!-- //Sliding-Menu-JavaScript -->

<!-- Skills-Bar-Animation-JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mousescroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<!-- //Skills-Animation-JavaScript -->

<!-- Pricing-Popup-Box-JavaScript -->
<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
    });
</script>
<!-- //Pricing-Popup-Box-JavaScript -->

<!-- Projects-Popup-Box-JavaScript -->
<script src="{% static 'js/modernizr.custom.97074.js' %}"></script>
<script src="{% static 'js/jquery.chocolat.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('.gallery-item a').Chocolat();
    });
</script>
<!-- //Projects-Popup-Box-JavaScript -->

<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
<script type="text/javascript">
    $(document).ready(function () {
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 100,
            easingType: 'linear'
        };
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
<!-- //Slide-To-Top JavaScript -->

<!-- Smooth-Scrolling-JavaScript -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll, .navbar li a, .footer li a").click(function (event) {
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- //Smooth-Scrolling-JavaScript -->

<!-- //Custom-JavaScript-File-Links -->

</body>
<!-- //Body -->
</html>
